/* Center the content within the app container */
#appsfurt {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Set the height of the container to the full viewport height */
}

/* Styling for the logo image */
.logo-img {
    max-width: 100px; /* Adjust the maximum width of the logo image */
    margin-right: 20px; /* Add some space between the logo and loading text */
}

/* Styling for the loading progress text */
.loading-progress-text {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}
